body {
	background: rgb(253, 217, 243);
	font-family: sans-serif;
}

header {
	height: 80px;
	background: palevioletred;
	border: 1px dashed rgb(253, 217, 243);
	border-radius: 10px;
}

.basket {
	width: 160px;
	position: absolute;
	right: 10px;
	top: 20px;
}

.basket-block {
	box-shadow: 0 0 15px rgb(187, 74, 112);
	border-radius: 10px;
	box-sizing: border-box;
	right: 0;
	top: 130%;
	position: absolute;
	background-color: white;
	padding: 20px;
	width: 300px;
}

.basket-item {
	display: flex;
  justify-content: space-between;
}

.basket-item:not(:last-child) {
	margin-bottom: 20px;
}

.button {
	padding: 5px 15px;
	font-size: 18px;
	border-radius: 10px;
	font-weight: bold;
	letter-spacing: .8px;
	transition: all ease-in-out .4s;
	cursor: pointer;
	border: 1px solid bisque;
}

.button:focus {
	outline: none;
}

.cart-button {
	background-color: bisque;
	border: 1px rgb(231, 125, 161) dashed;
	
}

.buy-button, 
.del-button {
	margin-top: 5px;
	background-color: bisque;
	padding: 5px 13px;
	border: 1px solid transparent;
	letter-spacing: .7px;
  font-weight: 600;
	border-radius: 10px;
	transition: all ease-in-out .4s;
	cursor: pointer;
}

.buy-button:hover,
.buy-button:focus,
.del-button:hover,
.button:hover {
	color: bisque;
	background-color: #2f2a2d;
	border: 1px solid #2f2a2d;
	outline: none;
}

.search {
	position: absolute;
	display: inline-block;
	left: 45px;
	top: 17px;
}

.goods-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, 500px);
	justify-content: space-evenly;
}

.goods-item {
	background: rgb(248, 168, 174);
	border: rgb(253, 217, 243) 1px dashed;
	border-radius: 10px;
	margin: 30px 0;
	padding: 10px;
	display: flex;
  flex-direction: column;
	width: 200px;
	text-align: center;
}

.desc {
	border: 1px solid #c0c0c040;
	padding: 10px;
}

p {
	margin: 0 0 5px 0;
}

.prod-quantity {
	margin-top: 15px;
	font-size: 0.8em;
}

.prod-price {
	color: #474747;
  font-size: 0.7em;
}
